.container-fluid {
    background: #fff;
    /*width:1000px;*/
}
.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo img {
    height:70px;
}
.short-header-menu {
    text-align: right;
    margin-top: 10px;
}
.short-header-menu ul li {
    display: inline;
    margin: 8px;
    text-align: right;
}
.title-bar {
    background: #ddd;
    padding:15px;
    font-size: 15px;
    /*text-transform: uppercase;*/
}
.title-bar i {
    padding-right:10px;
}
.navbar-default {
    background-color: #297fc2;
    border-color: #297fc2;
/*    margin-left: -15px;
    margin-right: -15px;*/
}
.navbar-default > .navbar-nav > li > a {
    color: #fff;
}
.navbar-default > .navbar-nav > li > a:hover {
    color: #ddd;
}
.internal-block .title {
    font-weight: bold;
    /*color: #297fc2;*/
}
.internal-block .project-name {
    font-weight: bold;
    color: #297fc2;
}
.table.internal-block td {
    font-size: 13px;
}

h3 {
    margin-bottom: 15px;
}

h4 {
/*    margin-left: -15px;
    margin-right: -15px;*/
}

.navbar-nav .dropdown {
    margin-right: 15px;
}

.navbar-nav .glyphicon {
    margin-right: 10px;
}

.news-box {
    height:125px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.news-box .content {
    height:100%;
    border:1px solid #ff0000;
}

.service-box {
    height:125px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.service-box .content {
    height:100%;
    border:1px solid #336699;
}

footer .row {
    background: #297fc2;
    margin-right: 0px;
    margin-left: 0px;
    color: #fff;
    margin-bottom: 30px;
}

@media only screen  and (min-width : 1000px) {
    .container-fluid {
        width: 1000px;
    }
}